.contactList {
  position: relative;
}

.name {
  font-size: 13px;
  margin: 0px;
  width: 150px;
}

.item {
  display: flex;
  margin-left: 15px;
  list-style: disc;
}

.button {
  font-size: 13px;
  width: 100px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
}

.number {
  font-size: 13px;
  margin: 0px;
  width: 200px;
}
